
@import"base/variables";
@import"base/mixins";
@import"base/condicionales";
@import"base/extend";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//nesting


header{
    margin-bottom: 10px;
    background-color: #00FFAB;

   h1{
    text-decoration: none;
    color: $color-principal;  
     
    
    font-family: cursive; 
    font-size: $media-principal/4;
    text-align: center;
   
   }

   nav{
       background-color: #14C38E;
      
       li{
           @extend %botones;
           
       
        
       }
    
   }

 
  

}

main div{
    @include grid;
    padding: 40px;
    


       

 }

 p.mainp{
    background-color: #B8F1B0;
        padding: 50px;
        text-align: center;
        color: black;
        font-size: 15px;
        
        
        height: 30px;
     
        
  }

  p.titulo{
      color: black;
      text-align: center;
      font-size: 20px;
      background-color: #E3FCBF;
      
     


  }




.imagen2{
    grid-area: imagen2;
    background-color: aquamarine;
    

}

.imagen3{
    grid-area: imagen3;
    background-color: aquamarine;
}

.imagen4{
    grid-area: imagen4;
    background-color: aquamarine;
}
.imagen1{
    grid-area: imagen1;
    background-color: aquamarine;

 
}

footer{ 
   
    padding: 100px;
    height: 10px;

    
    
}

div.stilotabla{
background-color: #B8F1B0;
    padding: 10px;
    display: flex;
    font-size: 35px;
    flex-direction: column;
  
    align-items: center;

    
}

div.pedircita{
    background-color:#B8F1B0 ;
}
div.link-redes{
    display: flex;

    padding: 0.3rem;
    border-radius: 1rem;
    font-weight: bold;
    justify-content: space-around;
    background-color: #B8F1B0
}
    

