

%botones{
    list-style-type: none;
        
        
        display: inline-block;  
        font-family: cursive; 
        
        padding: 0.3rem;
        border-radius: 1rem;
        font-weight: bold;
        justify-content: space-evenly;
}